<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441219660828-8kgkt3gtqm6u18m8bv5vi9n0qvuv9asc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441219660828-8kgkt3gtqm6u18m8bv5vi9n0qvuv9asc</string>
	<key>API_KEY</key>
	<string>AIzaSyA9_l9T8quEoE1JZU78lPyeGZl6CWJKxWc</string>
	<key>GCM_SENDER_ID</key>
	<string>441219660828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielcaccia.Chat-Up</string>
	<key>PROJECT_ID</key>
	<string>chat-up-a544a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-up-a544a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:441219660828:ios:089f94a982a4b903ec73d9</string>
</dict>
</plist>
